* {
    font-family: 'Exo', sans-serif;
}

.search-results-div {
    border: 1px solid red;
}

main {
    display: block; 
    margin: auto;
    max-width: 960px;
}

img {
    display: block;
    max-width: 417px;
    height: 259px;
    margin: auto;
}

h2{
  font-size: 32px;
  margin-top: 20px;
}

input {
    height: 40px;
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
}
legend {
    height: 30px;
    font-size: 20px;
    padding-bottom: 15px;
    
}

button {
    margin-top: 15px;
    width: 100px;
    height: 40px
}
ul {
    list-style: none;
}

iframe {
    display: block;
    margin: auto;
    width: 100;
    padding-top: 20px;
    padding-bottom: 20px;
}

.youtube-div {
    display: block;
    
    text-align:center;
}