* {
    font-family: 'Exo', sans-serif;
}

body {
    background-color: aliceblue;
}

.search-button{
    background-color: #f7070f;
    border: 1px solid azure;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px 5%;
}

.search-results-div {
    display: flex;
    flex-flow: row;
    margin: auto;
    width: 100%;
}

.search-results-ul {
    flex-wrap: wrap;
    margin: auto;
}


main {
    display: block; 
    margin: auto;
    max-width: 1000px;
}

img {
    display: block;
    max-width: 417px;
    height: 259px;
    margin: auto;
}

h2{
  font-size: 32px;
  margin-top: 20px;
}

input {
    height: 40px;
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
}
legend {
    height: 30px;
    font-size: 20px;
    padding-bottom: 15px;
}

button {
    margin-top: 15px;
    width: 100px;
    height: 40px
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

iframe {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    /* border-radius: 15px; */
}

.thumbnail {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
}

.youtubeText{ 
    text-align:center;
}

